@charset "UTF-8";

/* 
    Paleta de cores 
    Verde: #49a09d
    Lilás: #5f2c82 
*/

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-image: linear-gradient(to top, #49a09d, #5f2c82);
    height: 100vh;
}

.bloco {
    display: inline-block;
    margin: auto;
}

#imagem > img {
    width: 444px;
    height: 300px;
    border-radius: 17px;
}

#formulario {
    background-color: white;
    width: 444px;
    height: 300px;
    border-radius: 17px;
    padding: 20px 0px 0px 0px;
}

#formulario > h1 {
    text-align: center;
    margin-bottom: 20px;
}

#formulario > p {
    padding: 0px 10px;
    margin-bottom: 20px;
}

#icon {
    background-color: #5f2c82;
    color: white;
    border-radius: 5px;
    height: 25px;
    width: 30px;
    text-align: center;
    box-sizing: border-box;
}

div {
    padding: 0px 5px;
}

input {
    width: 380px;
    height: 25px;
    border-radius: 5px;
    background-color: #49a09d;
    border-color: #5f2c82;
}

#iemail {
    margin-bottom: 5px;
}

button {
    width: 417px;
    height: 25px;
    margin: 10px 10px 3px 10px;
}

.entrar {
    background-color: #49a09d;
    border: 0px;
}

.esqueci-senha {
    background-color: white;
    border-color: #49a09d;
    text-align: center;
}